* {
    padding: 0;
    margin: 0;
}
.main-outer-section {
    .live-match-score-section {
        background-image: url('../assets/images/background-img-1.svg');
        background-repeat: no-repeat;
        width: 100%;
        .match-score-inner-sec {
            max-width: 1136px;
            margin: 0 auto;
            .match-outer-text-sec {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 60px;
                .text {
                    color: white;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 17px;
                    text-align: center;
                    margin-left: 8px;
                }
            }
            .match-time-detail {
                color: white;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                text-align: center;
                padding-top: 16px;
                margin-bottom: 8px;
            }
            .live-border-sec {
                position: relative;
                padding-bottom: 16px;
                .live-button-outer-sec {
                    text-align: center;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 500px;
                        right: 308px;
                        z-index: 4;
                        top: 10px;
                        border: 1px solid rgb(236 237 241 / 36%);
                    }
                    a {
                        text-decoration: none;
                        background-color: #008632;
                        color: #fff;
                        text-decoration: none;
                        width: 63px;
                        height: 24px;
                        text-align: center;
                        border-radius: 20px;
                        // padding: 0px -1px;
                        position: relative;
                        z-index: 5;
                        display: inline-block;
                        text-align: center; 
                        .live-icon {
                            position: relative;
                            top: 3px;
                        }
                        .live-text {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 12px;
                            letter-spacing: 0em;
                            position: relative;
                            z-index: 5;
                            top: 2px;
                        }
                    }
                }
            }
            .teams-score-outer-section {
                max-width: 920px;
                margin: 0 auto; 
                display: flex;
                align-items: center;
                padding-bottom: 16px;
                .teamA-outer-section {
                    display: flex;
                    align-items: center;
                    width: 366px;
                    .teamA-match-score-sec {
                        margin-left: 32px;
                        position: relative;
                        .total-over-sec {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 12px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #FFFFFFBF;
                            display: inline-block;
                            vertical-align: bottom;
                            margin-left: 6px;
                        } 
                        .score1 {
                            font-family: Roboto;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 18px;
                            letter-spacing: 0em;
                            color: #FFFFFFBF;
                            margin-bottom: 16px;
                            &::before {
                                content: '';
                                position: absolute;
                                height: 0px;
                                border: 1px solid rgb(236 237 241 / 36%);
                                width: 73px;
                                top: 26px;
                                left: 2px;
                            }
                        }
                        .score2 {
                            font-family: Roboto;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 18px;
                            letter-spacing: 0em;
                            color: #FFFFFFBF;
                            margin-bottom: 16px;
                            &::before {
                                content: '';
                                position: absolute;
                                height: 0px;
                                border: 1px solid rgb(236 237 241 / 36%);
                                width: 73px;
                                top: 59px;
                                left: 2px;
                            }
                        }
                        .score3 {
                            font-family: Roboto;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 18px;
                            letter-spacing: 0em;
                            color: #FFFFFF;
                            margin-bottom: 16px;
                            .total-over-sec {
                                color: #fff;
                            }
                        }
                    }
                }
                .vs-section {
                    margin-left: 92px;
                    background: #ffffff5c;
                    border-radius: 50%;
                    padding: 6px;
                    color: #fff;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 700;
                } 
                .teamB-outer-section {
                    display: flex;
                    align-items: center;
                    width: 366px;
                    justify-content: end;
                    margin-left: auto;
                    .teamB-match-score-sec {
                        margin-right: 32px;
                        position: relative;
                        .total-over-sec {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 12px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #FFFFFFBF;
                            display: inline-block;
                            vertical-align: bottom;
                            margin-left: 6px;
                        } 
                        .score1 {
                            font-family: Roboto;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 18px;
                            letter-spacing: 0em;
                            color: #FFFFFFBF;
                            margin-bottom: 16px;
                            &::before {
                                content: '';
                                position: absolute;
                                height: 0px;
                                border: 1px solid rgb(236 237 241 / 36%);
                                width: 73px;
                                top: 26px;
                                left: 31px;
                            }
                        }
                        .score2 {
                            font-family: Roboto;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 18px;
                            letter-spacing: 0em;
                            color: #FFFFFFBF;
                            margin-bottom: 16px;
                            &::before {
                                content: '';
                                position: absolute;
                                height: 0px;
                                border: 1px solid rgb(236 237 241 / 36%);
                                width: 73px;
                                top: 59px;
                                left: 31px;
                            }
                        }
                        .score3 {
                            font-family: Roboto;
                            font-size: 28px;
                            font-weight: 700;
                            line-height: 18px;
                            letter-spacing: 0em;
                            color: #FFFFFFBF;
                            margin-bottom: 16px;
                            .total-over-sec {
                                color: #FFFFFFBF;
                            }
                        }
                    }
                }
            }
            .target-score-outersection {
                padding-bottom: 16px;
                .target-score-section {
                    text-align: center;
                    position: relative;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 16px;
                    letter-spacing: 0em;
                    color: #F7F7FA;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 500px;
                        right: 308px;
                        z-index: 4;
                        top: 45px;
                        border: 1px solid rgba(236, 237, 241, 0.36);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 500px;
                        right: 308px;
                        z-index: 4;
                        top: 0px;
                        border: 1px solid rgba(236, 237, 241, 0.36);
                    }
                }
            }
            .stadium-detail-outer-section {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 16px;
                .stadium-location {
                    margin-left: 8px;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    color: #F7F7FA;
                }
            }
            .batters-bowlers-main-outer-sec {
                max-width: 945px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 78px;
                gap: 20px;
                .batters-inner-section {
                    label {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 16px;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                    }
                    .batters-run-section {
                        background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #1F1F1F, #1F1F1F);
                        width: 462px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        padding-top: 16px;
                        padding-bottom: 16px;
                        margin-top: 8px;
                        justify-content: space-around;
                        .batsman1, .batsman2 {
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 19px;
                            letter-spacing: 0em;
                            color:#1C1C28;
                            position: relative;
                            span {
                                font-family: Roboto;
                                font-size: 20px;
                                font-weight: 700;
                                line-height: 18px;
                                letter-spacing: 0em;
                                color: #E50695;
                                margin-left: 5px;
                            }
                        }
                        .batsman1 {
                            ::after {
                                content: '';
                                position: absolute;
                                border: 1px solid rgb(236 237 241);
                                height: 40px;
                                width: 0px;
                                left: 207px;
                                top: -10px;
                            }
                        }
                    }
                }
                .bowlers-inner-section {
                    label {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 16px;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                    }
                    .bowlers-run-section {
                        background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #1F1F1F, #1F1F1F);
                        width: 462px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        padding-top: 16px;
                        padding-bottom: 16px;
                        margin-top: 8px;
                        justify-content: space-around;
                        .batsman1, .batsman2 {
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 19px;
                            letter-spacing: 0em;
                            color:#1C1C28;
                            position: relative;
                            span {
                                font-family: Roboto;
                                font-size: 20px;
                                font-weight: 700;
                                line-height: 18px;
                                letter-spacing: 0em;
                                color: #E50695;
                                margin-left: 5px;
                            }
                        }
                        .batsman1 {
                            ::after {
                                content: '';
                                position: absolute;
                                border: 1px solid rgb(236 237 241);
                                height: 40px;
                                width: 0px;
                                left: 180px;
                                top: -10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .latest-update-main-outer-sec {
        max-width: 1172px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 64px;
        .latest-update-head-sec {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 32px;
            .latest-update-head-text {
                font-family: Roboto;
                font-size: 20px;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                color: #1C1C28;
            }
            .see-more-text {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0em;
                color: #E50695;
                text-decoration: underline;
            }
        }
        .latest-update-news-sec-1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 16px;
            .ipl-news-updates {
                position: relative;
                cursor: pointer;
                img {
                    border-radius: 5px;
                }
                // &:hover .rcb-news-headline-sec {
                //     opacity: 1;
                // }
                .rcb-news-headline-sec {
                    position: absolute;
                    background: linear-gradient(0deg, #0F1C70 -4%, rgba(45, 65, 207, 0) 58.15%);
                    top: 0;
                    transition: 0.3s ease-in-out all;
                    opacity: 1;
                    height: 325px;
                    width: 578px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    .rcb-news-headline {
                        color: #fff;
                        margin-left: 16px;
                        position: absolute;
                        bottom: 0;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        .news-share-sec {
                            display: flex;
                            align-items: center;
                            margin-bottom: 16px;
                            .news-text {
                                font-family: Roboto;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0em;
                                color: #F7F7FA;

                            }
                            .share-white-icon {
                                margin-left: auto;
                                margin-right: 16px;
                            }
                            .respo-share-white-icon {
                                display: none;
                            }
                        }
                    }
                }
                .bg-gredient {
                    background: linear-gradient(90deg, #EA14EC -2.04%, #1246CE 102.14%);
                    position: absolute;
                    width: 538px;
                    bottom: 0;
                    height: 4px;
                    right: 20px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
        .latest-update-news-sec-2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            .ipl-news-update-section {
                overflow: hidden;
                border-radius: 5px;
                background: #F5F5F5;
                width: 280px;
                position: relative;
                .latest-rcb-img-sec {
                    overflow: hidden;
                    width: 100%;
                    background: #F5F5F5;
                    border-radius: 5px;
                    cursor: pointer;
                    img {
                        border-radius: 5px;
                    }
                    .news-headlines-share-sec {
                        margin: 0 16px;
                        .news-headline-text {
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0em;
                            padding-top: 9px;
                        }
                        .news-share-sec {
                            display: flex;
                            align-items: center;
                            padding-top: 8px;
                            padding-bottom: 16px;
                            img {
                                margin-left: auto;
                            }
                            .news-text {
                                font-family: Roboto;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0em;
                                color: #1F1F1F;
                                ;
                            }
                        }
                    }
                }
                .bg-gredient {
                    background: linear-gradient(90deg, #EA14EC -2.04%, #1246CE 102.14%);
                    position: absolute;
                    width: 250px;
                    bottom: 0;
                    height: 4px;
                    right: 15px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
}
@import 'responsive.scss';